In [14]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd

df_test_set = pd.read_csv('test_set.tsv',sep='\t',encoding='latin1')
df_test_set.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,2383,1,I believe that computers have a positive effec...,2383,NaN
1,2384,1,"Dear @CAPS1, I know some problems have came up...",2384,NaN
2,2385,1,"Dear to whom it @MONTH1 concern, Computers are...",2385,NaN
3,2386,1,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386,NaN
4,2387,1,"Dear Local newspaper, I think that people have...",2387,NaN

In [17]:
df_test_set.tail()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
4249,22238,8,Just One @CAPS1 @CAPS2 can bring people togeth...,25238,NaN
4250,22239,8,@CAPS8 Was my first time going to the band ca...,25239,NaN
4251,22240,8,Laughter is one of the most important things i...,25240,NaN
4252,22241,8,A @CAPS1 Of @C...,25241,NaN
4253,22242,8,Good @CAPS1 In @LOCATION1. Every year a sel...,25242,NaN

In [16]:
df_test_set.describe

<bound method NDFrame.describe of       essay_id  essay_set                                              essay  \
0         2383          1  I believe that computers have a positive effec...
1         2384          1  Dear @CAPS1, I know some problems have came up...
2         2385          1  Dear to whom it @MONTH1 concern, Computers are...
3         2386          1  Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...
4         2387          1  Dear Local newspaper, I think that people have...
...        ...        ...                                                ...
4249     22238          8  Just One @CAPS1 @CAPS2 can bring people togeth...
4250     22239          8   @CAPS8 Was my first time going to the band ca...
4251     22240          8  Laughter is one of the most important things i...
4252     22241          8                                  A @CAPS1 Of @C...
4253     22242          8    Good @CAPS1 In @LOCATION1.  Every year a sel...

      domain1_predictionid  domain2_predictionid
0                     2383                   NaN
1                     2384                   NaN
2                     2385                   NaN
3                     2386                   NaN
4                     2387                   NaN
...                    ...                   ...
4249                 25238                   NaN
4250                 25239                   NaN
4251                 25240                   NaN
4252                 25241                   NaN
4253                 25242                   NaN

[4254 rows x 5 columns]>

In [18]:
df_valid_set = pd.read_csv('valid_set.tsv',sep='\t',encoding='latin1')

df_valid_set.describe

<bound method NDFrame.describe of       essay_id  essay_set                                              essay  \
0         1788          1  Dear @ORGANIZATION1, @CAPS1 more and more peop...
1         1789          1  Dear @LOCATION1 Time @CAPS1 me tell you what I...
2         1790          1  Dear Local newspaper, Have you been spending a...
3         1791          1  Dear Readers, @CAPS1 you imagine how life woul...
4         1792          1  Dear newspaper, I strongly believe that comput...
...        ...        ...                                                ...
4213     21933          8   Have you ever noticed that if two little kids...
4214     21934          8                              Laughter @CAPS1 I ...
4215     21935          8   Laughter in @CAPS1 A laugh is not just an act...
4216     21937          8    LAUGHTER @CAPS1 i was younger my friend live...
4217     21938          8   You know how the saying goes live, laugh, lov...

      domain1_predictionid  domain2_predictionid
0                     1788                   NaN
1                     1789                   NaN
2                     1790                   NaN
3                     1791                   NaN
4                     1792                   NaN
...                    ...                   ...
4213                 24933                   NaN
4214                 24934                   NaN
4215                 24935                   NaN
4216                 24937                   NaN
4217                 24938                   NaN

[4218 rows x 5 columns]>

In [19]:
df_valid_set.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN